.rating {
  &,
  &Content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  & {
    margin: 7px 0;
  }

  &Star {
    & {
      margin: 0 3px;
    }
    &--caret {
      width: 13px;
      height: 13px;
    }
  }
}
