.sliderMain {
  & {
    display: flex;
    position: relative;
    width: 100%;
  }

  .tns {
    &-outer {
      width: 100%;
    }

    &-nav {
      & {
        position: absolute;
        bottom: 13px;
      }
    }
  }

  &Item {
    & {
      display: flex;
      width: 100%;
    }

    &Picture {
      width: 100%;
    }
    &Image {
      width: 100%;
      object-fit: cover;
    }
  }
}
