@import './config/config.scss';
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  font-style: normal;
}

button,
input,
select,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
ul,
li {
  font-style: normal;
  font-family: $fontFamily;
}

.content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: $maxWidthDesktop;
}

.resetButton {
  background: transparent none;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.loadingBox {
  & {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.iconLoading {
  box-sizing: border-box;
  position: absolute;
  animation: spinner 0.9s linear infinite;
  fill: #000;
}

.titleArea {
  & {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 10%;
    border-bottom: 3px solid #c0c0c0;
    margin-top: 3px;
    max-width: 65px;
  }
}
