.productList {
  & {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .tns-nav {
    margin-top: 16px;
  }
  &Content {
    width: 100%;
  }
  &Title {
    & {
      margin: 0 0 14px 0;
    }
  }
  &Item {
    & {
      display: flex;
    }
    &--picture {
      & {
        position: relative;
      }
      &-image {
        width: 100%;
        object-fit: cover;
      }
    }
    &--discount {
      & {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 81px 72px 0;
        border-color: transparent #f8475f transparent transparent;
      }
      &::after {
        display: inline-block;
        content: 'OFF';
        position: absolute;
        right: -71px;
        top: 15px;
        font-weight: 900;
        font-size: 16px;
        line-height: 16px;
        color: #ffffff;
        z-index: 1;
      }
    }
    &--info {
      & {
        color: #7a7a7a;
        text-align: center;
        font-size: 11px;
        padding-top: 6px;
        padding-bottom: 14px;
      }
    }
    &--name {
      & {
        text-transform: uppercase;
        font-size: 10px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        padding: 0 5px;
        letter-spacing: 0.5px;
        font-weight: 600;
      }
    }

    &--prices {
      & {
        line-height: normal;
      }
      &-listPrice {
        & {
          height: 16px;
          margin-bottom: 2px;
        }
        &-value {
          text-decoration: line-through;
        }
      }
      &-bestPrice {
        &-value {
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
          color: #000;
        }
      }
      &-installments {
        & {
          height: 15px;
          margin-bottom: 8px;
          letter-spacing: 0.5px;
        }
      }
    }
    &--info {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    &--Button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &--link {
      & {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 125px;
        height: 32px;
        background: #000000;
        color: #fff;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

@media (min-width: 1024px) {
  .productList {
    & {
      margin-top: 25px;
      margin-bottom: 69px;
    }
    &Title {
      & {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }

    &Item {
      & {
        display: flex;
      }

      &--info {
        & {
          font-size: 12px;
        }
      }
      &--name {
        & {
          font-size: 12px;
        }
      }

      &--prices {
        &-bestPrice {
          &-value {
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            color: #000;
          }
        }
        &-installments {
          & {
            font-size: 11px;
          }
        }
      }
      &--info {
      }
      &--Button {
        visibility: hidden;
      }

      &--link {
        & {
        }
      }

      &:hover {
        .productList {
          &Item {
            &--info {
              background-color: #e6e8ea;
            }
            &--Button {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
