@import '../../../scss/config/config.scss';

.formNewsletter {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 16px 16px;
    background-color: #f2f2f2;
  }

  &Content {
    display: flex;
    flex-direction: column;
  }

  &--text {
    & {
      font-family: $fontFamilyLato;
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      color: #333333;
    }
    strong {
      font-size: 22px;
      line-height: 22px;
    }
  }
  &Form {
    width: 100%;
  }
  &Input {
    &Group {
      width: 100%;
      margin-bottom: 22px;
    }

    & {
      width: 100%;
      height: 48px;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: #fff;
      font-family: $fontFamilyLato;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #585858;
      padding: 0 16px;
      outline: none;
    }

    &Error {
      border-color: #d7182a;
    }
  }
  &TextError {
    color: #d7182a;
    font-family: $fontFamilyLato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }

  &Btn {
    & {
      position: relative;
      width: 100%;
      height: 48px;
      border: 0;
      background: #000000;
      border-radius: 5px;
      cursor: pointer;
      font-family: $fontFamilyLato;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }
    &.error {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &Success {
    & {
      text-align: center;
    }
    .formNewsletter--text {
      strong {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) {
  .formNewsletter {
    & {
      padding: 24px 0;
    }
    &Content {
      align-items: center;
    }
    &Form {
      & {
        display: flex;
      }
    }
    &Input {
      &Group {
        margin-right: 8px;
        width: 280px;
      }
    }
    &Btn {
      min-width: 140px;
    }
  }
}
